body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #000;
}
a {
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
    margin-top: 20px;
}
video{
    border: 4px solid #fff; /* Optional: fügt einen weißen Rand hinzu */
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5); /* Optional: fügt einen Schein hinzu */
}
a:hover {
    color: #f00;
}